[submodule "manamesh"]
	path = packages/manamesh
	url = https://github.com/cyotee/manamesh.git
[submodule "packages/boardgame.io"]
	path = packages/boardgame.io
	url = https://github.com/boardgameio/boardgame.io.git
[submodule "packages/boardgameIO-p2p"]
	path = packages/boardgameIO-p2p
	url = https://github.com/cyotee/boardgameIO-p2p.git
[submodule "packages/fairplay-crypto"]
	path = packages/fairplay-crypto
	url = https://github.com/cyotee/fairplay-crypto.git
[submodule "packages/fairplay-crypto-godot"]
	path = packages/fairplay-crypto-godot
	url = https://github.com/cyotee/fairplay-crypto-godot.git
[submodule "packages/game-godot-liars-dice"]
	path = packages/game-godot-liars-dice
	url = https://github.com/cyotee/game-godot-liars-dice.git
[submodule "packages/timestreams"]
	path = packages/timestreams
	url = https://github.com/cyotee/timestreams.git
[submodule "packages/poker"]
	path = packages/poker
	url = https://github.com/cyotee/game-poker.git
[submodule "packages/game-battleship-merkle"]
	path = packages/game-battleship-merkle
	url = https://github.com/cyotee/game-battleship-merkle.git
